{# vim: set ft=htmljinja: #}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>draft</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <style>
      html, body { background: #f0f0f0; }
      body       { width: 640px; margin: 30px auto; }
      h1         { padding: 20px 0; }
      pre code   { display: block; }
    </style>
    <h1>draft</h1>
    <pre></pre>

    <!-- draft helpers -->
    <script src="/static/js/draft.js"></script>

    <!-- standard libraries -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/sprintf.js"></script>
    <script src="/static/js/underscore.js"></script>

    {% if script %}
    <!-- user-supplied -->
    <script src="/cwd/{{ script }}"></script>
    {% endif %}
